html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

header {
  background-color: rgb(107,111,123);
  color: white;
  font-weight: 100;
  padding: 10px 0px 0px 30px;
}

.page-title {
  margin: 40px 20px 15px 0px;
}

.nav-links > li {
  display: inline-block;
  list-style: none;
  margin-right: 25px;
  padding-bottom: 10px;
}

.nav-links > li:hover {
  border-bottom: 5px solid rgb(216, 217, 218);
}

.selected {
  border-bottom: 5px solid rgb(216, 217, 218);
}
